<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="5" parallel="classes" name="Suite">
	<test name="Chrome">
		
		<classes>
			<class name="com.bhaskar.selenium.testng.LoginTest" />
			<class name="com.bhaskar.selenium.testng.VerifeyeTest" />
		</classes>
	</test> <!-- Test -->

	<!-- <test name="edge">
		<classes>
			<class name="com.bhaskar.selenium.testng.LoginTest" />
			<class name="com.bhaskar.selenium.testng.VerifeyeTest" />
		</classes>
	</test> Test

	<test name="firefox">
		<classes>
			<class name="com.bhaskar.selenium.testng.LoginTest" />
			<class name="com.bhaskar.selenium.testng.VerifeyeTest" />
		</classes>
	</test> Test -->


</suite> <!-- Suite -->
